* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* _____________ SCROLL _ STYLES ________________ */
.scroll-style {
    scroll-behavior: smooth;
}
.scroll-style::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--c1);
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--c1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
